.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 50px;
    align-items: center;
    position: relative;
}

.input-serch {
    width: 400px;
    height: 30px;
    outline: none;
    padding: 5px 0 5px 15px;
}

.cart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    min-height: 45px;
    justify-content: space-between;
    position: relative;
}

.cart-goods {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -6px;
    right: 1px;
    border: 1px solid pink;
    border-radius: 50%;
    background-color: pink;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
}

.basket-inner {
    display: none;
    
}

.cart-button:hover ~ .basket-inner,
.basket-inner:hover {
    display: block;
    background-color: white;
    width: 300px;
    height: 600px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
    padding: 37px 33px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
}

.basket-img {
    width: 25px;
    height: 25px;
    background-color: lightgray;
}

.basket-total-list {
    display: flex;
    justify-content: space-between;
}

.btn-delet {
    height: 25px;
    border-radius: 50%;
    width: 25px;
    border: 1px solid pink;
    background-color: transparent;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.goods-list {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

.goods-item {
    border: 1px solid wheat;
    width: 250px;
    box-sizing: border-box;
    padding: 0px 20px 10px;
    margin: 10px 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.goods-item + .goods-item {
    margin: 10px 0 10px 20px;
}


.img {
    width: 100%;
    flex-grow: 1;
    background-color: lightgray;
}